
.card { 
   
    width: 100%;
    min-height: 400px;
    max-height:max-content;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 1.3s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.front { 
    position: absolute;
    backface-visibility: hidden; 
}

.back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}